{"GVH5075_E666": {"name": "Main bedroom sensor", "location": "Main bedroom", "temp": "21", "plug": "192.168.2.46", "service": "scheduled"}, "GVH5075_570E": {"name": "Studio sensor", "location": "Studio", "temp": "21", "plug": "192.168.2.40", "service": "off"}, "GVH5075_C448": {"name": "Guest bedroom sensor", "location": "Guest bedroom", "temp": "21", "plug": "192.168.2.96", "service": "off"}}
