[Unit]
Description=Thermo thermostat service
DefaultDependencies=no
After=network.target

[Service]
Type=forking
User=thermo
Group=thermo
ExecStart=/usr/local/lib/thermo/thermo.sh start
PIDFile=thermo/thermo.pid

[Install]
WantedBy=multi-user.target
