<div id="sensors" hx-trigger="every 60s"  hx-get="/config-hx/" hx-target="#sensors" hx-swap="outerHTML">
<div class="container w-75 p-3" id="showall">
{% for sensor in config %}
	<div>	
		<h1 class="display-3">{{sensor['location']}}: <span hx-trigger="load" hx-get="/conditions-hx/{{sensor['sensor_id']}}" hx-target="#current_temp_{{sensor['sensor_id']}}"  id="current_temp_{{sensor['sensor_id']}}"></span></h1>
	<form>
		<input type="hidden" id="i_sensor_id" name="sensor_id" value="{{sensor['sensor_id']}}">
		<div class="input-group">
			<input class="form-control-lg" type="text" id="temp-{{sensor['sensor_id']}}" size="4" name="temp" value="{{sensor['temp']}}">
			<span class="input-group-text">° C</span>
			<button type="button" class="btn btn-primary btn-lg" hx-post="/config-hx/" hx-target="#showall" hx-swap="outerHTML">Save</button>
		</div>

		{% if sensor.service_type=="scheduled" %}
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-scheduled" name="service_type" value="scheduled" checked>
				<label class="form-check-label" for="service_type-scheduled">Follow schedule</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-on" name="service_type" value="on">
				<label class="form-check-label" for="service_type-on">On</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-off" name="service_type" value="off">
				<label class="form-check-label" for="service_type-off">Off</label>
			</div>
		{% elif sensor.service_type=="on"  %}
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-scheduled" name="service_type" value="scheduled">
				<label class="form-check-label" for="service_type-scheduled">Follow schedule</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-on" name="service_type" value="on" checked>
				<label class="form-check-label" for="service_type-on">On</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-off" name="service_type" value="off">
			<label class="form-check-label" for="service_type-off">Off</label>
			</div>
		{% else %}
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-scheduled" name="service_type" value="scheduled">
				<label class="form-check-label" for="service_type-scheduled">Follow schedule</label>
		         </div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-on" name="service_type" value="on">
				 <label class="form-check-label" for="service_type-on">On</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" id="service_type-off" name="service_type" value="off" checked>
				<label class="form-check-label" for="service_type-off">Off</label>
			</div>
		{% endif %}

	</form>
	</div>
{% endfor %}
</div>
</div>
