{% for sensor in found['sensors'] %}
    <div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-info">Bluetooth temperature sensor</div>
    <div class="card-body">
        <h5 class="card-title">{{sensor['sensor_id']}}</h5>
        <p class="card-text">
        <dl class="row">
            <dt class="col-sm-7">temperature</dt>
            <dd class="col-sm-5"> {{sensor['temp']}}° C </dd>
            <dt class="col-sm-7">humidity</dt>
            <dd class="col-sm-5">{{sensor['humidity']}}%</dd>
            <dt class="col-sm-7">battery</dt>
            <dd class="col-sm-5">{{sensor['battery']}}%</dd>
        </dl>
        </p>
        <a href="config-edit-hx/{{sensor['sensor_id']}}">Edit</a>
    </div>
    </div>
{% endfor %}
{% for plug in found['plugs'] %}
    <div class="card  mb-3" style="max-width: 18rem;">
    <div class="card-header text-white bg-info">Wifi smart plug</div>
    <div class="card-body">
        <h5 class="card-title">{{plug['sensor_id']}}</h5>
        <p class="card-text">{{plug['ip_addr']}} </p>
    </div>
    </div>
{% endfor %}