<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	</head>
    <body >     
    <div class="container w-75 p-3" id="config_editor">

        <div class="card" style="width: 18rem;">
            <h5 class="card-header bg-dark text-white">{{sensor['sensor_id']}}</h5>
            <div class="card-body">
                <form>
                    <input type="hidden" id="i_sensor_id" name="sensor_id" value="{{sensor['sensor_id']}}">
                    <input type="hidden" id="i_row_id" name="id" value="{{id}}">
                    <div class="form-group">
                        <label for="i_sensorname">Friendly name</label>
                        <input type="text" class="form-control" id="i_sensorname" value="{{sensor['name']}}" name="name">
                    </div>
                    <div class="form-group">
                        <label for="i_sensorlocation">Sensor location</label>
                        <input type="text" class="form-control" id="i_sensorlocation" value="{{sensor['location']}}" name="location">
                    </div> 
                    <div class="form-group">
                        <label for="temp-{{sensor['sensor_id']}}">Desired temperature</label>
                        <div class="input-group">
                            <input class="form-control-lg" type="text" id="temp-{{sensor['sensor_id']}}" size="4" name="temp" value="{{sensor['temp']}}">
                            <span class="input-group-text">° C</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="service_type-scheduled" name="service_type" 
                                value="scheduled" {% if sensor['service_type'].lower()=="scheduled" %}checked{% endif %} >
                            <label class="form-check-label" for="service_type-scheduled">Follow schedule</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="service_type-on" name="service_type" 
                                value="on" {% if sensor['service_type'].lower() == "on" %}checked{% endif %} >
                            <label class="form-check-label" for="service_type-on">On</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="service_type-off" name="service_type" 
                            value="off" {% if sensor['service_type'].lower() == "off" %}checked{% endif %} >
                            <label class="form-check-label" for="service_type-off">Off</label>
                        </div>
                    </div>
                    <button 
						type="button" 
						class="btn btn-primary btn-lg" 
                        hx-post="/thermo-hx/" 
						hx-target="#config_editor" 
						hx-swap="outerHTML">Save</button>
                </form>
            </div>
        </div>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/htmx.org@1.6.1" integrity="sha384-tvG/2mnCFmGQzYC1Oh3qxQ7CkQ9kMzYjWZSNtrRZygHPDDqottzEJsqS4oUVodhW" crossorigin="anonymous"></script>

	</body>
</html>
