{% set imageurl="http://pizero.local/images/" %}
<div id="sensors" hx-trigger="every 60s"  hx-get="/thermo-hx/" hx-target="#sensors" hx-swap="outerHTML">
	<div id="showall">
		<div class="row">
			<div class="col">
				<h6><a href='https://www.watttime.org/api-documentation/#introduction'>MOER</a> index: {{moer.percent}} %</h6>
			</div>					
		</div>
		<div class="row">
		{% for sensor in config %}
			<div class="card" style="width: 30rem;">
				<form>
				<input 
					type="hidden" 
					name="location" 
					value="{{sensor['location']}}">
				<input 
					type="hidden" 
					name="name" 
					value="{{sensor['name']}}">
				<input 
					type="hidden" 
					name="plug" 
					value="{{sensor['plug']}}">
				<input 
					type="hidden" 
					name="sensor_id" 
					value="{{sensor['sensor_id']}}">
				<div class="card-body">
					<h4 class="card-title"><a href="/config-edit-hx/{{sensor['sensor_id']}}"><img height="15" src="{{imageurl}}/edit.png"></a> {{sensor['location']}}: {{sensor_conditions[sensor['sensor_id']].temp}}</h4>
					<div class="input-group">
						<input 
							class="form-control-lg" 
							type="text" 
							id="temp-{{sensor['sensor_id']}}" 
							size="4" 
							name="temp" 
							value="{{sensor['temp']}}">
						<span class="input-group-text">° C</span>
						<button 
							type="button" 
							class="btn btn-primary btn-lg" 
							hx-post="/thermo-hx/" 
							hx-target="#showall" 
							hx-swap="outerHTML">Save</button>
						{% if sensor.service_type=="off" %}
							&nbsp;<img height="55" src="{{imageurl}}/heating_off.png">
						{% else %}
							&nbsp;<img height="55" src="{{imageurl}}/heating.png"> 
						{% endif %}
						{% if moer.percent > 50 %}
							&nbsp;<img height="55" src="{{imageurl}}/ecomode.png">
						{% else %}
							&nbsp;<img height="55" src="{{imageurl}}/ecomode_off.png">
						{% endif %}
					</div>
					<div class="form-check">
						<input 
							class="form-check-input" 
							type="radio" 
							id="service_type-scheduled" 
							name="service_type" 
							value="scheduled" {% if sensor.service_type=="scheduled" %}checked{% endif %} >
						<label class="form-check-label" for="service_type-scheduled">Follow schedule</label>
						{% if sensor.schedule_start_hour and sensor.schedule_stop_hour %}
							<div class="font-size-sm fst-italic"> (turn heating on between {{ sensor.schedule_start_hour | int -12 }}:00 PM and {{sensor.schedule_stop_hour}}:00 AM)</div>	
						{% endif %}
					</div>
					<div class="form-check">
						<input 
							class="form-check-input" 
							type="radio" 
							id="service_type-on" 
							name="service_type" 
							value="on" {% if sensor.service_type=="on" %}checked{% endif %}>
						<label class="form-check-label" for="service_type-on">On</label>
					</div>
					<div class="form-check">
						<input 
							class="form-check-input" 
							type="radio" 
							id="service_type-off" 
							name="service_type" 
							value="off" {% if sensor.service_type=="off" %}checked{% endif %}>
						<label class="form-check-label" for="service_type-off">Off</label>
					</div>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							id="service_type-presence"
							name="service_type"
							value="presence" {% if sensor.service_type=="presence" %}checked{% endif %}>
						<label class="form-check-label" for="service_type-off">Presence</label>
					</div>
				</div><!-- /card-body -->
				</form>
			</div><!-- /card -->
		{% endfor %}
		</div><!-- /row -->
	</div><!-- showall -->
</div><!-- /sensors -->
